body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

#cover {
  background: url("http://www.agarum.com/photos/1/3/73/822/c/l/ba29ebd25b9e4936c6607d8c5a7ff0d8.jpg")
     no-repeat
   center bottom;
  background-size:cover;
   background-attachment: fixed;
  height: 900px;
  position: absolute;
  top: -55px;
  width: 100%;
}

.navigation {
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
}

ul {
  padding: 0;
}

li {
  color: #14213D;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 16px 20px;
  text-transform: uppercase;
}

#logo {
  color: #FCA311;
  font-family: 'Amatic SC', cursive;
  font-size: 38px;
  padding: 0px 50px;
}

.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 280px;
  width: 70%;
}

h1 {
  color: #FCA311;
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
}

h2 {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 38px;
  font-weight: 300;
  text-align: center;
}

h3 {
  color: #14213D;
  font-family: 'Abel', sans-serif;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  color: #FCA311;
  font-family: 'Abel', sans-serif;
  font-size: 28px;
  margin: 0px 0px 50px 0px;
}

h5{
  color: #FCA311;
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  margin: 0px 0px 50px 0px;
}

p {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.btn {
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
  padding: 14px;
}

.btn1 {
  background-color: #14213D;
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
  padding: 14px;
}

.posts {
  background: #EEEFF1;
  box-sizing: border-box;
  width: 90%;
  margin: 20px auto;
  padding: 20px 0px;
  text-align: center;
}

.post {
  display: inline-block;
  margin: 0px 2% 80px 2%;
  text-align: center;
  width: 45%;
}

.product img {
  width:100%;
}

.blue {
  color: #14213D !important;
}

.h{
  background-color: #FCA311;
  color: #FFF;
  font-family: 'Arial', cursive;
  font-size: 15px;
  padding: 14px;

}